streamlit==1.43.0
tensorflow==2.15.1
keras==2.15.0
tf-keras==2.15.1
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
scikit-learn==1.5.2
opencv-python-headless==4.10.0.84
pillow==10.4.0
protobuf==3.20.3
wrapt==1.14.1
h5py==3.10.0
grpcio==1.62.2
ml_dtypes==0.3.2
tf-keras-vis==0.8.7
ipykernel==6.29.5
ipython==8.24.0
jupyter_client==8.6.3
jupyter_core==5.7.2
matplotlib-inline==0.1.7
huggingface_hub==0.23.4
